<div>
    <div class="row">
        <div class="col-10">
            <div>
                <h1>All your groceries</h1>
                <h4>List of all the groceries you have at home</h4>
            </div>
        </div>
        <div class="col-2" id="toggleCol">
            <div class="row">
                <p id="leftToggle">ShoppingList</p>
                <input type="checkbox" id="switch" style="visibility: hidden;"/><label for="switch">Toggle</label>
                <p id="rightToggle">SupplyList</p>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-3">
                <input class="form-control" type="text" placeholder="Search for product">
            </div>
            <div class="col-7">
                <button class="btn btn-primary" type="button">Search</button>
            </div>
            <div class="col-1" id="addIconCol">
                <i class="fa-solid fa-circle-plus fa-2x" style="color: #fcbc97;"></i>
            </div>
            <div class="col-1">
                <button class="btn btn-primary">Sort <i class="fa-solid fa-arrow-up-wide-short" style="color: #ffffff;"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="productDiv">
    <app-product-display *ngFor="let productDisplay of productDisplayList"[productDisplay]="productDisplay"></app-product-display>
</div>